img {border: none;}
p {text-indent: 2em;}
a {text-decoration: none;}
h1 {font-size: 260%; color: #000000;}
h2 {font-size: 220%; color: #404040;}
h3 {font-size: 180%; color: #707070;}
h4 {font-size: 140%; color: #909090;}
h5 {font-size: 130%; color: #989898;}
h6 {font-size: 120%; color: #9c9c9c;}

body {
    margin: 0pt; 
    padding: 0pt;
    background: #bbbbbb;
}

pre {
    padding: 0.5em;
    border: 1px solid #8cacbb;
    color: Black;
    background-color: #f0f0f0;
    font-family: monospace;
    margin-left: 2em; 
}

.right { float: right; }
.justcenter { text-align: center; }

#container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background: #dddddd;
}

#header {
    padding: 2em;
    text-align: center;
    height: 9em;
}

#header p {
    text-indent: 0;
    font-size: 320%;
    font-weight: bold; 
    color: #040d77;
}

#content {
    padding: 2em;
}

#label {
    padding: 0;
    font-size: 26px;
    line-height: 32px;
    height: 32px;
    background: url('/images/bg_label.png') repeat-x scroll
}

#label ul {
    display: inline;
}

#label li {
    float: left;
    display: block;
    position: relative;
    left:2em;
}

#label a {
    color: white;
}

#label li:hover {
    background: #dddddd
}

#label a:hover {
    color: blue;
}

a.index {
    color: #222222;
}

a.index:hover {
    color: #1982d1;
}

#feedicon {
    height: 32px;
    width: 32px;
}

#googlecustomsearch {
    display: inline;
    margin-left: 20px;
}

#googlecustomsearch form {
    display: inline;
}

#googlecustomsearch input {
    padding: 0;
    font-size: 16px;
    position: relative;
    top: -10px;
}
