---
layout: index
---
{% for post in paginator.posts %}
<div class="index-article">
<h2 class="index-title" ><a class="index" href="{{ post.url }}">{{ post.title }}</a></h2>
{{ post.date | date: "%Y-%m-%d"}}
{{ post.excerpt }}

{% capture other_content %}{{ post.content | remove:post.excerpt | remove: '<!--more-->' }}{% endcapture %}

{% if other_content.size > 10 %} 
<div style="height:2em">
<a class="right button-link" href="{{ post.url }}">继续阅读</a>
</div>
{% endif %}
</div>
{% endfor %}
<div style="margin-top:1em;height:2em">
<div style="display:inline">
<a class="button-link" href="/all.html">所有文章</a>
</div>
<div class="right">
    {% if paginator.previous_page == 1 %}
    <a class="button-link" href="/">上一页</a>
    {% elsif paginator.previous_page %}
    <a class="button-link" href="/page{{ paginator.previous_page}}">上一页</a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="button-link" href="/page{{ paginator.next_page}}">下一页</a>
    {% endif %}
</div>
</div>
