{% if page.title %}
	<title>{{ page.title }} - 雷钦的博客</title>
{% else %}
	<title>雷钦的博客</title>
{% endif %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="Stylesheet" type="text/css" href="/static/css/default.css" />
<link rel="Stylesheet" type="text/css" href="/static/css/pygments.css" />
<link rel="shortcut icon" href="https://www.gravatar.com/avatar/16081f46874b3b331d7634d73c9fcac5.png?s=80" type="image/jpeg" />
<!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" ></script>-->
<!--<script src="/static/javascript/jquery-3.1.1.min.js" ></script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$.get(
		'/shoucang/revelation.html',
		function(data){
			var arr = Array();
			$(data).find('dt').each(function(){
				arr[arr.length] = $(this).text()
			});
			$('#revelation').text(arr[Math.floor(Math.random()*arr.length)]);
            $('#header-title').on('click', function(event) {
                $('#revelation').text(arr[Math.floor(Math.random()*arr.length)])
            });
            $('#header-title a').attr('href', '#');
		});
	});
</script>
{% include google_analytics.html %}
