{% if page.title %}
	<title>{{ page.title }} - 雷钦的博客</title>
{% else %}
	<title>雷钦的博客</title>
{% endif %}
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<link rel="Stylesheet" type="text/css" href="/static/css/default.css" />
<link rel="Stylesheet" type="text/css" href="/static/css/pygments.css" />
<link rel="shortcut icon" href="https://www.gravatar.com/avatar/16081f46874b3b331d7634d73c9fcac5.png?s=80" type="image/png" />
<!--<link rel="shortcut icon" href="/static/images/shoutcut.png" type="image/png" />-->
<!--<script src="/static/javascript/jquery-3.1.1.min.js" ></script>-->
<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
<script>
	$(document).ready(function(){
		$.get(
		'/shoucang/revelation.html',
		function(data){
			var arr = Array();
            var commons = Array();
			$(data).find('dt').each(function(){
				arr[arr.length] = $(this).text()
			});
			$(data).find('dd').each(function(){
				commons[commons.length] = $(this).text()
			});
            var r = $('#revelation');
            var rc = $('#revelation-common').hide();

            r
                .css('cursor', 'pointer')
                .on('click', function(event) {
                    rc.css('display') == 'none' ? rc.show() : rc.hide();
                });

            function change_revelation() {
                var i = Math.floor(Math.random()*arr.length)
                rc.hide();
                rc.text(commons[i]);
                r.text(arr[i])
            }
            change_revelation()
            $('#header-title').on('click', function(event) {
                change_revelation()
            });
            $('#header-title a').attr('href', '#');
		});
	});
</script>
{% include google_analytics.html %}
