img {border: none;}
p {text-indent: 2em;}
a {text-decoration: none;}
h1 {font-size: 260%; line-height: 130%; color: #000000;}
h2 {font-size: 220%; line-height: 130%; color: #404040;}
h3 {font-size: 180%; line-height: 130%; color: #707070;}
h4 {font-size: 140%; line-height: 130%; color: #909090;}
h5 {font-size: 130%; line-height: 130%; color: #989898;}
h6 {font-size: 120%; line-height: 130%; color: #9c9c9c;}

body {
    margin: 0pt; 
    padding: 0pt;
    background: #bbbbbb;
	line-height: 130%;
}

pre {
    padding: 0.5em;
    border: 1px solid #8cacbb;
    color: black;
    background-color: #f0f0f0;
    font-family: monospace;
    margin-left: 2em; 
	overflow: auto;
}

table, tr, td, th {
	padding: 0.2em;
	border: 1px solid rgb(170, 170, 170);
	border-collapse: collapse;
}

table > caption {
	font-weight: bold;
}

dt {
	font-size: 110%;
	line-height: 130%;
	padding: 0.5em;
}

dd {
    padding: 0.5em;
    border: 1px solid #8cacbb;
    color: black;
    background-color: #f0f0f0;
    margin-left: 2em; 
	text-indent: 2em;
}

figure {
	margin: 0;
}

.right { float: right; }
.justcenter { text-align: center; }

#container {
    width: 100%;
	max-width: 73.076em;
	min-width: 255px;
    margin-left: auto;
    margin-right: auto;
    background: #dddddd;
}

#header {
    padding: 1em;
	padding-left: 5em;
    min-height: 9em;
}

#header-title {
    text-indent: 0;
    font-size: 200%;
	line-height:130%;
    font-weight: bold; 
}

#header-title a {
	color: #040d77;
}

#content {
    padding: 2em;
	min-height: 500px;
}

#label {
    padding: 0;
    font-size: 20px;
    line-height: 32px;
    height: 32px;
    background: url('/static/images/bg_label.png') repeat-x scroll
}

#label ul {
    display: inline;
}

#label li {
    float: left;
    display: block;
    position: relative;
    left:2em;
}

#labeltext a {
    color: white;
    padding: 0 0.5em;
    display: block;
}

#labeltext a:hover {
    color: blue;
    background: #dddddd
}

a.index {
    color: #222222;
}

a.index:visited {
    color: #551a8b;
}

a.index:hover {
    color: #1982d1;
}

#feedicon {
    height: 32px;
    width: 32px;
}

#googlecustomsearch {
    display: inline;
    margin-left: 20px;
}

#googlecustomsearch form {
    display: inline;
}

#googlecustomsearch input[type=text] {
    padding: 0;
    font-size: 16px;
    width: 200px;
    height: 24px;
    border: 1px solid transparent;
    border-radius: 3px;
    padding-left: 6px;
    position: relative;
    //top: -10px;
    //left: -10px;
}

#googlecustomsearch input[type=submit] {
	background: url("/static/images/search.png");
	border: medium none;
	cursor: pointer;
	position: relative;
	//top: -7px;
	left: -30px;
	width: 16px;
	height: 16px;
}

.button-link {
	color: #fff;
	background: #7fc7af;
	padding: 0.375em 0.8em;
}

.button-link:hover {
	background: #b9b9b9;
}

.index-title {
	width: 100%; 
}

.index-article {
	background: #eeeeee;
	margin: 0em 0em 2em 0em;
	padding: 1em 1em;
}
