<html>
	<head>
        {% include common_html_head.html %}
		<script>
			$(document).ready(function(){
				$('#content h4').css('cursor', 'pointer');
				$('#content p').hide();
				$('#content h4').each(function(){
					$(this).click(function(){
						$(this).nextUntil('h4', 'p').toggle();
						//$(this).nextAll('p').toggle();
					})
				});
				$('#content').prepend('<div class="right"><span class="p-show">展开</span> <span class="p-hide">折叠</span></div>');
				$('#content .p-show')
					.css('cursor', 'pointer').css('color', 'grey')
					.click(function(){
						$('#content').find('p').show();
					});
				$('#content .p-hide')
					.css('cursor', 'pointer').css('color', 'grey')
					.click(function(){
						$('#content').find('p').hide();
					});
			});
		</script>
		<style>
		</style>
	</head>
	<body>
        <div id="container">
            {% include header.html %}
            {% include label.html %}
            <div id="content">
                {{ content }}
            </div>
            {% include copyright.html %}
        </div>
	</body>
</html>
