<html>
	<head>
        {% include common_html_head.html %}
		<title>{{ page.title }} - 雷钦的博客</title>
		<script>
			$(document).ready(function(){
				$('#content dt').css('cursor', 'pointer');
				$('#content dd').hide();
				$('#content dt').each(function(){
					$(this).click(function(){
						//$(this).next().toggle();
						$(this).next('dd').slideToggle();
					})
				});
				$('#content dl').prepend('<div class="right"><span class="dd-show">展开</span> <span class="dd-hide">折叠</span></div>');
				$('#content dl .dd-show')
					.css('cursor', 'pointer').css('color', 'grey')
					.click(function(){
						$(this).parents('dl').find('dd').show();
					});
				$('#content dl .dd-hide')
					.css('cursor', 'pointer').css('color', 'grey')
					.click(function(){
						$(this).parents('dl').find('dd').hide();
					});
			});
		</script>
		<style>
			#content dt{font-size:150%;line-height:130%;}
		</style>
	</head>
	<body>
        <div id="container">
            {% include header.html %}
            {% include label.html %}
            <div id="content">
                {{ content }}
            </div>
            {% include copyright.html %}
        </div>
	</body>
</html>
